<PageTitle>Process definition list</PageTitle>

<h1>Process definition list</h1>
@if (processes == null)
{
    <Loader />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>IsEnabled</th>
                <th>IsReplayable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var process in processes)
            {
                <tr class="table-primary">
                    <td>@process.Id</td>
                    <td>@process.Name</td>
                    <td>@process.Description</td>
                    <td>@process.IsEnabled</td>
                    <td>@process.IsReplayable</td>
                </tr>
                <tr>
                    <td colspan="5" class="table-secondary">
                        Tasks
                    </td>
                </tr>
                <tr class="table-secondary">
                    <td>
                    </td>
                    <td>
                        Task id
                    </td>
                    <td>
                        Task name
                    </td>
                    <td>
                        Task description
                    </td>
                    <td>
                        Task key
                    </td>
                </tr>
                @foreach (var task in process.ProcessTaskDefinitions)
                {
                    <tr class="table-secondary">
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            @task.Id
                        </td>
                        <td>
                            @task.Name
                        </td>
                        <td>
                            @task.Description
                        </td>
                        <td>
                            @task.Key
                        </td>
                    </tr>
                }
                <tr>
                    &nbsp;
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IsEnabled</th>
                    <th>IsReplayable</th>
                </tr>
            }
        </tbody>
    </table>
}